{% load static i18n %}
{% load static %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" />
    <title>
      {% block title %}
      {% endblock title %}
      | Gemma
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web app to interact with LLM locally" />
    <meta name="author" content="Rituparn Shukla" />
    <link rel="icon" href="{% static 'images/favicons/gemini-icon.png' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      {#      <script src="https://cdn.tailwindcss.com"></script>#}
      {#            <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"#}
      {#            rel="stylesheet" />#}
      <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Observer.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EaselPlugin.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/PixiPlugin.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
      <!-- RoughEase, ExpoScaleEase and SlowMo are all included in the EasePack file -->
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EasePack.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}  ">
    {% block body %}
      <nav class=" z-50 bg-gray-900 backdrop-blur-sm bg-opacity-70 top-1 rounded-full  sm:rounded-b-[2.5rem] fixed w-full rounded-xl font-sans1 ">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="{% url 'home' %}"
             class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{% static 'images/favicons/gemini-icon.png' %}"
                 class="h-8"
                 alt="Gemma" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Gemma</span>
          </a>
          <div class="flex items-center  mx-4 md:order-2 space-x-3 md:space-x-0 space-x-reverse">
            <button type="button"
                    class="flex text-sm bg-gray-800 rounded-full  focus:ring-4 focus:ring-gray-300"
                    id="user-menu-button"
                    aria-expanded="false"
                    data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full"
                   src="{% if request.user.userpicture %}{{ requeset.user.userpicture }}{% else %}{% static 'images/user2.svg' %}{% endif %}"
                   alt="User Picture" />
            </button>
            <div class=" hidden my-4 rounded-xl font-sans1 divide-y divide-gray-100 rounded-lg shadow-xl bg-gray-900 backdrop-blur-xl bg-opacity-60"
                 id="user-dropdown">
              <div class="px-4 py-3">
                {% if request.user.is_authenticated %}
                  <span class="block text-sm text{% translate "Chat" %}-white">{{ request.user.name }}</span>
                  <span class="block text-sm  truncate text-gray-100">{{ request.user.email }}</span>
                {% else %}
                  <span class="block text-sm text-white text-center">Hello, please sign in!</span>
                {% endif %}
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                {% if request.user.is_authenticated %}
                  <li>
                    <a href="{% url 'users:detail' request.user.pk %}"
                       class="block px-4 py-2 text-sm text-center text-gray-700  hover:bg-gray-600 dark:text-gray-200 text-white">{% translate "My Profile" %}</a>
                  </li>
                  <li class="md:hidden">
                    <a href="{% url 'chat' %}"
                       class="block px-4 py-2 text-sm text-center text-gray-700  hover:bg-gray-600 dark:text-gray-200 text-white">Chat</a>
                  </li>
                  <li>
                    <a href="{% url 'users:conversations' request.user.pk %}"
                       class="block px-4 py-2 text-center text-sm text-gray-700 hover:bg-gray-600 text-white">Conversations</a>
                  </li>
                  <li class="md:hidden">
                    <a href="{% url 'contact' %}"
                       class="block px-4 py-2 text-sm text-center text-gray-700  hover:bg-gray-600 dark:text-gray-200 text-white">Chat</a>
                  </li>
                  <li class="md:hidden">
                    <a href="{% url 'about' %}"
                       class="block px-4 py-2 text-sm text-center text-gray-700  hover:bg-gray-600 dark:text-gray-200 text-white">Chat</a>
                  </li>
                  <li>
                    <a href="{% url 'account_logout' %}"
                       class="block px-4 py-2 text-center text-sm text-gray-700 hover:bg-gray-600  text-white">{% translate "Sign Out" %}</a>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li>
                      <a id="sign-up-link"
                         href="{% url 'account_signup' %}"
                         class="block px-4 py-2 text-center text-sm text-gray-700 hover:bg-gray-600 dark:text-gray-200 text-white">{% translate "Sign Up" %}</a>
                    </li>
                  {% endif %}
                  <li>
                    <a id="log-in-link"
                       href="{% url 'account_login' %}"
                       class="block px-4 py-2 text-center text-sm text-gray-700 hover:bg-gray-600 dark:text-gray-200 text-white">{% translate "Sign In" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
               id="navbar-site">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border  rounded-lg  md:space-x-16  md:flex-row md:mt-0 md:border-0">
              <li>
                <a href="{% url 'home' %}"
                   class="block py-2 px-3 text-white bg-gray-100 rounded md:bg-transparent md:p-0 md:hover:text-blue-700"
                   aria-current="page">Home</a>
              </li>
              <li>
                <a href="{% url 'about' %}"
                   class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">About</a>
              </li>
              <li>
                <a href="{% url 'chat' %}"
                   class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Chat</a>
              </li>
              <li>
                <a href="{% url 'contact' %}"
                   class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block main %}
        {% block content %}
        {% endblock content %}
      {% endblock main %}
    {% endblock body %}
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
    {% endblock inline_javascript %}
  </body>
</html>
