{% extends "base.html" %}

{% load static %}
{% load allauth account %}

{% block title %}
  Profile
{% endblock title %}
{% block bodyclass %}
  bg-gemma bg-cover   bg-opacity-20 bg-no-repeat min-h-screen
{% endblock bodyclass %}
{% block content %}
  <div class="hidden lg:flex -z-50 h-screen w-screen justify-center items-center font-sans1">
    <div class="rounded-3xl bg-gray-800 bg-opacity-40 px-10 py-10 mt-16 shadow-2xl backdrop-blur-md">
      <div class="mx-auto w-40 h-40 mb-8">
        <img class="bg-cover bg-center w-full h-full rounded-full drop-shadow-2xl"
             src="{% if object.userpicture %}/media/{{ object.userpicture }}{% else %}{% static 'images/user1.svg' %}{% endif %}"
             alt="User Picture" />
      </div>
      <div class="relative left-26 top-0 mb-8">
        <h1 class="VK-Sans text-center mt-9 text-white text-4xl mb-8">Profile</h1>
      </div>
      <div class="flex flex-row py-8 items-center justify-center">
        <div class="flex flex-col space-y-14">
          <div class="flex flex-row space-x-14 items-center justify-center">
            <p class="text-center text-xl text-white VK-Sans">Name</p>
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="94"
                 height="32"
                 viewBox="0 0 94 32"
                 fill="none">
              <path d="M77 1L93 16L77 31" stroke="white" />
              <path d="M93 16L0 16" stroke="white" />
            </svg>
          </div>
          <div class="flex flex-row space-x-14 items-center justify-center">
            <p class="text-center text-xl text-white VK-Sans">Email</p>
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="94"
                 height="32"
                 viewBox="0 0 94 32"
                 fill="none">
              <path d="M77 1L93 16L77 31" stroke="white" />
              <path d="M93 16L0 16" stroke="white" />
            </svg>
          </div>
        </div>
        <div class="flex flex-col ml-8 space-y-10">
          <div class=" mt-1 mb-1  text-white bg-gray-800 bg-opacity-20  border border-gray-200 rounded-full text-md px-10 py-2 text-center  items-center">
            {% if object.name %}
              {{ object.name }}
            {% else %}
              Add your name in the settings
            {% endif %}
          </div>
          <div class="mt-1 mb-1   text-white bg-gray-800 bg-opacity-20   border border-gray-200  rounded-full text-md px-10 py-2 text-center items-center">
            {{ object.email }}
          </div>
        </div>
      </div>
      <div class="flex flex-row py-6  space-x-12 items-center justify-center">
        {% if object == request.user %}
          <a href="{% url 'users:update' %}"
             role="button"
             class="mt-1 mb-1   text-white bg-gray-800 bg-opacity-20   border border-gray-200  rounded-full text-md px-10 py-2  text-center items-center">
            Edit your profile
          </a>
        {% else %}
          <div class="mt-1 mb-1   text-white bg-gray-800 bg-opacity-20   border border-gray-200  rounded-full text-md px-10 py-2  text-center items-center">
            You are not authorized
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="lg:hidden flex h-screen w-screen flex-col justify-center items-center">
    <div class="rounded-3xl bg-gray-800 bg-opacity-40 px-20 py-10 shadow-2xl backdrop-blur-md">
      <div class="relative">
        <img class="bg-cover bg-center w-36 h-36 md:w-48 md:h-48 rounded-full mx-auto mb-4"
             src=" {% if object.userpicture %}{{ object.userpicture }}{% else %}{% static 'images/user1.svg' %}{% endif %}"
             alt="user-picture" />
        <h1 class="text-center mt-4 text-sm text-white text-xl md:text-3xl mb-4">Profile</h1>
        <h1 class="text-center mt-4 mb-4 text-md text-white ">Here are your details!</h1>
      </div>
      <div class="flex flex-col space-y-4">
        <div class="text-white bg-gray-800 bg-opacity-20 border border-gray-200 rounded-full text-md px-6 py-2 text-center">
          {% if object.name %}
            {{ object.name }}
          {% else %}
            Add your name in the settings
          {% endif %}
        </div>
        <div class=" text-white bg-gray-800 bg-opacity-20 border border-gray-200 rounded-full text-md px-6 py-2 text-center">
          Email: {{ object.email }}
        </div>
        <a href="{% url 'users:update' %}"
           class=" text-white bg-gray-800 bg-opacity-20 border border-gray-200 rounded-full text-md px-6 py-2 text-center">
          Click here to edit
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
