{% extends "base.html" %}

{% load static %}

{% block title %}
  About
{% endblock title %}
{% block bodyclass %}
  bg-gemma bg-cover bg-no-repeat
{% endblock bodyclass %}
{% block javascript %}
  {{ block.super }}
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/"
      }
    }
  </script>
{% endblock javascript %}
{% block content %}
  <div class="flex flex-col items-center justify-center">
    <canvas class="flex flex-col h-[50px] w-[300px] items-center justify-center">
      <script type="module" src="{% static 'js/project.js/' %}"></script>
    </canvas>
    <p class="flex mt-14 mb-8 text-2xl text-bold text-white text-center sm:text-6xl font-cassa">We @Gemma, hire llamas</p>
    <p class="flex mt-4 mb-8 text-2xl text-bold text-white text-center sm:text-6xl font-cassa">
      and then use the LLM models that they create
    </p>
    <p class="flex mt-4  font-extrabold text-white text-center sm:text-lg font-cassa">ps. here is a 3d llama for you</p>
  </div>
{% endblock content %}
