{% extends "base.html" %}

{% load static %}

{% block title %}
  Chat
{% endblock title %}
{% block bodyclass %}
  bg-gemma bg-cover bg-no-repeat min-h-screen overflow-hidden
{% endblock bodyclass %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/chat-handle.js' %}"></script>
{% endblock javascript %}
{% block content %}
  <div class="h-custom-vh w-full max-sm:mt-4 lg:mt-20 sm:mt-20 max-sm:py-10  px-3 overflow-y-clip appearance-none ">
    <div class="flex flex-col rounded-3xl bg-gray-800 bg-opacity-40 py-2 px-4  lg:px-20 drop-shadow-2xl backdrop-blur-2xl mt-10 h-full">
      <h1 class=" absolute top-5 left-10 font-sans1  text-black text-2xl text-semibold md:text-4xl hover:text-white bg-cyan-400 rounded-full px-4 py-1">
        Chat
      </h1>
      <a href="{% url 'chat:chat' %}" class=" absolute top-6 right-10">
        <svg width="40px"
             height="45px"
             viewBox="0 0 24 24"
             fill="#FFFFFF"
             xmlns="http://www.w3.org/2000/svg"
             stroke-width="1">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C7.85113 3 4 5.73396 4 10C4 11.5704 4.38842 12.7289 5.08252 13.6554C5.79003 14.5998 6.87746 15.3863 8.41627 16.0908L9.2326 16.4645L8.94868 17.3162C8.54129 18.5384 7.84997 19.6611 7.15156 20.5844C9.56467 19.8263 12.7167 18.6537 14.9453 17.1679C17.1551 15.6948 18.3969 14.5353 19.0991 13.455C19.7758 12.4139 20 11.371 20 10C20 5.73396 16.1489 3 12 3ZM2 10C2 4.26604 7.14887 1 12 1C16.8511 1 22 4.26604 22 10C22 11.629 21.7242 13.0861 20.7759 14.545C19.8531 15.9647 18.3449 17.3052 16.0547 18.8321C13.0781 20.8164 8.76589 22.2232 6.29772 22.9281C5.48665 23.1597 4.84055 22.6838 4.56243 22.1881C4.28848 21.6998 4.22087 20.9454 4.74413 20.3614C5.44439 19.5798 6.21203 18.5732 6.72616 17.4871C5.40034 16.7841 4.29326 15.9376 3.48189 14.8545C2.48785 13.5277 2 11.9296 2 10Z" fill="#FFFFFF" />
          <path d="M12 6C11.4477 6 11 6.44771 11 7V9H9C8.44772 9 8 9.44771 8 10C8 10.5523 8.44772 11 9 11H11V13C11 13.5523 11.4477 14 12 14C12.5523 14 13 13.5523 13 13V11H15C15.5523 11 16 10.5523 16 10C16 9.44772 15.5523 9 15 9H13V7C13 6.44771 12.5523 6 12 6Z" fill="#FFFFFF" />
        </svg>
      </a>
      <div id="chat-container"
           class="flex mt-10 flex-col h-screen overflow-y-auto">
        <div id="chat-response"
             class="mt-4 flex-1 overflow-y-auto px-4 py-6 sm:px-16"></div>
        {# TODO: TO RENDER THE CHAT RESPONSE HERE #}
      </div>
      <div class="flex flex-row space-x-6">
        <button id="dropdownDefaultButton"
                data-dropdown-toggle="dropdown"
                data-dropdown-placement="top"
                class="text-white mb-4 "
                type="button">
          <svg class="w- h-2.5 ms-3"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <div id="dropdown"
             class="hidden  divide-y divide-gray-800  rounded-full shadow-full  w-44 bg-gray-700">
          <ul class="py-2 text-sm text-gray-200 rounded-full"
              aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="{% url 'chat:llava' %}"
                 class="block px-4  rounded-full bg-gray-800 bg-opacity-20 text-white">Model: Bakllava</a>
            </li>
          </ul>
        </div>
        <form class="flex flex-row w-screen " id="user_query_form">
          {% csrf_token %}
          <input class="w-full  mb-4 py-2 px-4 bg-gray-800 bg-opacity-70 backdrop-blur-xl text-white  rounded-full"
                 placeholder="Ask something..."
                 id="user-query-text"
                 name="query"
                 type="text"
                 required />
          <input class="hidden"
                 name="who"
                 id="who"
                 value="{% if request.user.is_authenticated %} {{ request.user.pk }} {% else %}guest{% endif %} " />
          <button class="mb-4 ml-2 bg-opacity-70 bg-gray-800 backdrop-blur-xl rounded-full hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500"
                  type="submit">
            <svg width="40px"
                 height="35px"
                 viewBox="0 -1 25 25"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.455 9.8834L7.063 4.1434C6.76535 3.96928 6.40109 3.95274 6.08888 4.09916C5.77667 4.24558 5.55647 4.53621 5.5 4.8764C5.5039 4.98942 5.53114 5.10041 5.58 5.2024L7.749 10.4424C7.85786 10.7903 7.91711 11.1519 7.925 11.5164C7.91714 11.8809 7.85789 12.2425 7.749 12.5904L5.58 17.8304C5.53114 17.9324 5.5039 18.0434 5.5 18.1564C5.55687 18.4961 5.77703 18.7862 6.0889 18.9323C6.40078 19.0785 6.76456 19.062 7.062 18.8884L18.455 13.1484C19.0903 12.8533 19.4967 12.2164 19.4967 11.5159C19.4967 10.8154 19.0903 10.1785 18.455 9.8834V9.8834Z" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
