{% extends "base.html" %}

{% load static %}

{% block title %}
  Chat
{% endblock title %}
{% block bodyclass %}
  bg-gemma bg-cover bg-no-repeat min-h-screen overflow-hidden
{% endblock bodyclass %}
{% block content %}
  <div class="h-custom-vh w-full mt-20 px-3">
    <div class="flex flex-col rounded-3xl bg-gray-800 bg-opacity-40 py-2 px-4 md:px-24 lg:px-48 drop-shadow-2xl backdrop-blur-2xl mt-10 h-full">
      <h1 class=" absolute top-5 left-10 font-sans1  text-white text-2xl text-semibold md:text-4xl">Chat</h1>
      <div class="flex-1"></div>
      <div class="flex flex-row space-x-6">
        <button id="dropdownDefaultButton"
                data-dropdown-toggle="dropdown"
                data-dropdown-placement="top"
                class="text-white mb-4 "
                type="button">
          <svg class="w- h-2.5 ms-3"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <div id="dropdown"
             class="hidden  divide-y divide-gray-800  rounded-full shadow-full  w-44 bg-gray-700">
          <ul class="py-2 text-sm text-gray-200 rounded-full"
              aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="{% url 'chat:llava' %}"
                 class="block px-4  rounded-full bg-gray-800 bg-opacity-20 text-white">bakllava</a>
            </li>
          </ul>
        </div>
        <form class="flex flex-row w-screen ">
          <input class="w-full  mb-4 py-2 px-4 bg-gray-800 bg-opacity-70 backdrop-blur-xl text-white  rounded-full"
                 placeholder="Ask something..." />
          <button class="mb-4 ml-2 bg-opacity-70 bg-gray-800 backdrop-blur-xl rounded-full ">
            <svg width="40px"
                 height="35px"
                 viewBox="0 -1 25 25"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.455 9.8834L7.063 4.1434C6.76535 3.96928 6.40109 3.95274 6.08888 4.09916C5.77667 4.24558 5.55647 4.53621 5.5 4.8764C5.5039 4.98942 5.53114 5.10041 5.58 5.2024L7.749 10.4424C7.85786 10.7903 7.91711 11.1519 7.925 11.5164C7.91714 11.8809 7.85789 12.2425 7.749 12.5904L5.58 17.8304C5.53114 17.9324 5.5039 18.0434 5.5 18.1564C5.55687 18.4961 5.77703 18.7862 6.0889 18.9323C6.40078 19.0785 6.76456 19.062 7.062 18.8884L18.455 13.1484C19.0903 12.8533 19.4967 12.2164 19.4967 11.5159C19.4967 10.8154 19.0903 10.1785 18.455 9.8834V9.8834Z" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
