{% extends "base.html" %}

{% load static %}

{% block title %}
  Home
{% endblock title %}
{% block bodyclass %}
  bg-gemma bg-cover bg-no-repeat min-h-screen
{% endblock bodyclass %}
{% block content %}
  {% block javascript %}
    {{ block.super }}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        gsap.to("#mainText", {
          duration: 1,
          text: "Try LLMs locally!",
          delay: 1
        });
      });
    </script>
  {% endblock javascript %}
  <div class="flex flex-row justify-center mt-40">
    <div>
      <img class="drop-shadow-2xl"
           src="{% static 'images/gemini-icon.png' %}"
           alt="Gemma"
           width="300"
           height="300" />
    </div>
    <div class="hidden sm:block ">
      <img class="drop-shadow-lg"
           src="{% static 'images/gemini-icon.png' %}"
           alt="Gemma"
           width="200"
           height="200" />
    </div>
  </div>
  <div class="flex justify-center ml-10 mt-20 ">
    <h1 id="mainText"
        class="lg:text-8xl  text-3xl text-center text-white font-sans1">Welcome to Gemma!</h1>
  </div>
{% endblock content %}
