{% extends "base.html" %}

{% load static %}
{% load allauth account %}

{% block title %}
  Login
{% endblock title %}
{% block bodyclass %}
  bg-gemma bg-cover   bg-opacity-20 bg-no-repeat min-h-screen
{% endblock bodyclass %}
{% block content %}
  <div class="flex h-screen w-screen items-center justify-center">
    <div class="rounded-3xl bg-gray-800 bg-opacity-40 py-2 px-14 sm:px-48 shadow-2xl backdrop-blur-md mt-10">
      <div class="text-white font-sans1">
        <div class=" sm:mb-8 flex flex-col items-center">
          <img class="mt-4"
               src="{% static 'images/gemma.svg' %}"
               width="140"
               height="140"
               alt="login logo" />
          <p class="mt-8 mb-8 text-xl sm:text-4xl bg-cyan-400 rounded-full text-gray-800 font-sans1 px-4 py-2  ">Login</p>
          <form action="{% url 'account_login' %}" method="post">
            {% csrf_token %}
            <div>
              <label for="email"
                     class="block mb-2 text-sm font-sans1  text-white dark:text-white">Email</label>
              <input type="email"
                     name="login"
                     id="email"
                     class="opacity-70 backdrop-blur-md bg-white border border-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     placeholder="name@example.com"
                     required />
            </div>
            <div class="mb-5">
              <label for="password"
                     class="block mb-2 mt-4 text-sm font-sans1 text-white dark:text-white">Password</label>
              <input type="password"
                     name="password"
                     id="password"
                     class="opacity-70 backdrop-blur-md bg-white  border border-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     required />
            </div>
            <div class="flex items-start mb-5">
              <div class="flex items-center h-5">
                <input id="remember"
                       type="checkbox"
                       value=""
                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 bg-gray-700 border-gray-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800"
                       required />
              </div>
              <label for="remember" class="ms-2 text-sm font-medium text-gray-300">Remember me</label>
            </div>
            <button type="submit"
                    class="sm:mx-20 mb-4 text-white rounded-xl px-10 backdrop-blur-md bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium  text-sm w-full sm:w-auto  py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
