{% extends "base.html" %}

{% load static %}

{% block title %}
  Register
{% endblock title %}
{% block bodyclass %}
  bg-gemma	 bg-cover   bg-opacity-20 bg-no-repeat min-h-screen
{% endblock bodyclass %}
{% block content %}
  <div class="flex h-screen w-screen items-center justify-center">
    <div class="rounded-3xl bg-gray-800 bg-opacity-40  py-2 px-14 sm:px-48 shadow-2xl backdrop-blur-md">
      <div class="text-white font-mono">
        <div class=" sm:mb-8 flex flex-col items-center">
          <img class="mt-4"
               src="{% static 'images/gemma.svg' %}"
               width="140"
               height="140"
               alt="login logo" />
          <p class="mt-4 mb-8 text-xl sm:text-3xl ">Register</p>
          <form action="{% url 'account_signup' %}" method="post">
            {% csrf_token %}
            <div>
              <label for="email" class="block mb-2 text-sm font-mono  text-white">Email</label>
              <input type="email"
                     id="email"
                     name="email"
                     class="opacity-70 backdrop-blur-md bg-white border border-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  "
                     placeholder="name@example.com"
                     required />
            </div>
            <div class="mb-5">
              <label for="password" class="block mb-2 mt-4 text-sm font-mono text-white ">Password</label>
              <input type="password"
                     id="password1"
                     name="password1"
                     class="opacity-70 backdrop-blur-md bg-white  border border-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 "
                     required />
            </div>
            <div class="mb-5">
              <label for="repeat-password"
                     class="block mb-2 text-sm font-medium text-white">Repeat password</label>
              <input type="password"
                     id="password2"
                     name="password2"
                     class="opacity-70 backdrop-blur-md bg-white border border-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                     required />
            </div>
            <div class="flex items-start mb-5">
              <div class="flex items-center h-5">
                <input id="terms"
                       type="checkbox"
                       value=""
                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
                       required />
              </div>
              <label for="terms" class="ms-2 text-sm font-medium text-white">
                I agree with the <a href="#" class="text-blue-300 hover:underline  ">terms and conditions</a>
              </label>
            </div>
            <button type="submit"
                    class="sm:mx-20 mb-4 text-white rounded-xl px-10 backdrop-blur-md bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium  text-sm w-full sm:w-auto  py-2.5 text-center">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
